@import "./fonts", "breakpoints.scss", "_colors.scss", "_design.scss",
  "_animation.scss", "./cursor", "./mobiles";
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
